*{
            background-color: lavender;
        }
        #heading{
            text-align: center;
            color: rgb(96, 15, 96);
            /* text-decoration:underline ;
            text-decoration-style: wavy;
            text-decoration-color:lightblue; */
            background-color:rgba(255, 105, 180, 0.669);
            
        }
       h2{
            background-color:cornflowerblue;
        }
        
        h4{
            color: blue;
        font-style: italic;
        }
        .underline{
            background-color:rgba(135, 207, 235, 0.692);
        }
        #submit{
            border-radius: 4px;
            background-color: crimson;
            color: white;
        }
        footer{
            text-align: end;
            font-size:30px;
        }
        .dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode h2 {
    background-color: #333;
}

li ul {
    transition: 0.3s;
}
